---
layout: default
---

<div class="anim-fade-in mx-auto ">

    <div class="pt-12">

        <div class="col-12">
            <img class="width-full avatar mb-2 mb-md-0" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" alt="{{ site.name }}" />
        </div>

        <div class="col-12 col-md-10 d-flex flex-column flex-justify-left flex-items-left flex-md-items-start pl-md-4">
            <p class="h2 text-normal mb-2">{{ site.bio-title }}</p>
            <p class="h3 text-normal mb-2">{{ site.bio-subtitle }}</p>
            <p class="h4 text-gray text-normal mb-2">{{ site.bio-body }}</p>

            <div class=" d-flex flex-column">
                <div class="p-0  bg-gray-light">
                    {% include social-links.html %}
                </div>
            </div>

        </div>

    </div>

</div>
