---
layout: page
---

{% if page.image and page.headerImage %}
    <img class="title-image" src="{{ page.image }}" alt="{{ page.title }}">
{% endif %}

<div class=" d-flex flex-column flex-sm-row mt-n4">
  {% if site.breadcrumbs %}
  <div class=" bg-gray-light float-left">
      {% include breadcrumbs.html omit_collection=true omit_title=true %}
  </div>
  {% endif %}
  <div class=" bg-gray-light flex-1 flex-shrink"></div>
</div>

<p class="lh-condensed text-small mt-6 mb-1 anim-fade-in">{{ page.date | date: "%b %d %Y" }}</p>
<h1 class="pb-6 text-emphasized lh-condensed text-white text-shadow-dark">{{ page.title }}</h1>
{% if page.subtitle %}
    <h4 class="mt-n6 pb-6 pt-2 lh-condensed text-light text-shadow-dark">{{ page.subtitle }}</h4>
{% endif %}

<div class="markdown-body">
  {{content}}
</div>

{% if site.post-advance-links contains page.category %}
    <nav class="pagination-container" aria-label="Pagination">
        <div class="pagination">
        {% if page.previous.url %}
            <a class="previous_page" rel="previous" aria-label="{{ page.previous.title }}" href="{{ site.url }}{{ page.previous.url }}">{{ page.previous.title }}</a>
        {% else %}
            <span class="previous_page" aria-disabled="false"></span>
        {% endif %}
        {% if page.next.url %}
            <a class="next_page" rel="next" aria-label="{{ page.next.title }}" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }}</a>
        {% endif %}
        </div>
    </nav>
{% endif %}


{% if site.show-post-tags %}
    
    <hr class="border border-dashed"/>
    {% for tag in page.tags %}
        <span class="Label"><a href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a></span>
    {% endfor %}

{% endif %}

<div class="p-3"></div>

{% if site.related %}
    {% include related.html %}
{% endif %}

{% if site.show-author %}
    {% include author.html %}
{% endif %}

{% if site.disqus.categories contains page.category %}
    {% include disqus.html %}
{% endif %}
